body{
    background-color:rgba(188, 135, 23, 0.929) ;
    }
    .tabs{
        text-align: center;
    }
    header{
        border-bottom-style:solid; border-color: rgb(136, 61, 61); border-width: medium;
    }