body{
    background-color:rgba(188, 135, 23, 0.929) ;
    }
    .tabs{
        text-align: center;
    }
    header{
        border-bottom-style:solid; border-color: rgb(147, 65, 65); border-width: medium;
    }